# Core Django
Django==5.2.7
gunicorn==21.2.0
psycopg2==2.9.11
whitenoise==6.6.0
dj-database-url==2.1.0

# Formularios y Bootstrap
django-crispy-forms==2.5
crispy-bootstrap5==2025.6
django-bootstrap5==25.2

# Procesamiento de datos (si los usas)
pandas==2.2.3
numpy==2.2.4
openpyxl==3.1.5

# Imágenes (si las usas)
pillow==11.1.0

# Dependencias indirectas necesarias
asgiref==3.10.0
sqlparse==0.5.3
tzdata==2025.2
pytz==2025.2
python-dateutil==2.9.0.post0
six==1.17.0
et_xmlfile==2.0.0