asgiref==3.10.0
Django==5.2.7
dj-database-url==2.1.0
gunicorn==21.2.0
psycopg2-binary==2.9.9   # (usa psycopg2-binary en lugar de psycopg2 para evitar compilación)
sqlparse==0.5.3
whitenoise==6.6.0

# Si usas crispy / bootstrap
crispy-bootstrap5==2025.6
django-crispy-forms==2.5
# django-bootstrap5==25.2    (¿usas esto o crispy? Si usas crispy, borra esta)

# Si usas requests
requests==2.32.4

# Si usas Pillow (para imágenes)
pillow==11.1.0

# Si usas pandas o numpy (¿seguro que los necesitas en el servidor?)
# pandas==2.2.3
# numpy==2.2.4

# Si usas openpyxl (para leer Excel)
openpyxl==3.1.5

# Si usas generación de PDF
fpdf2==2.8.3